<h2>Gestión de usuarios</h2>

<div>
  <h3>Alta</h3>
  <form>
    <div>
        <label>Nombre: </label>
        <input name="name" [(ngModel)]="newUser.name">
    </div>
    <div>
        <label>Email: </label>
        <input name="email" [(ngModel)]="newUser.email">
    </div>
    <div>
        <label>Teléfono: </label>
        <input name="phone" [(ngModel)]="newUser.phone">
    </div>
    <button (click)="addUser()">Añadir</button>
  </form>
</div>

<div>
  <h3>Listado</h3>
  <table>
    <caption>Listado de usuarios</caption>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" (click)="selectUser(user)"
          [class.selected]="user.id === selectedUser?.id">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>
            <button (click)="deleteUser(user)">Eliminar</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedUser">
    <h3>Detalle de {{ selectedUser.name }}</h3>
    <form>
      <div>
          <label>Nombre: </label>
          <input name="name" [(ngModel)]="selectedUser.name">
      </div>
      <div>
          <label>Email: </label>
          <input name="email" [(ngModel)]="selectedUser.email">
      </div>
      <div>
          <label>Teléfono: </label>
          <input name="phone" [(ngModel)]="selectedUser.phone">
      </div>
      <button>Guardar</button>
    </form>
</div>
