<menu>
    <li><a routerLink="/binding" routerLinkActive="selected">Binding</a></li>
    <li><a routerLink="/galeria" routerLinkActive="selected">Galería</a></li>
    <li><a routerLink="/admin/users" routerLinkActive="selected">Usuarios</a></li>
    <li><a routerLink="/parent" routerLinkActive="selected">Usuarios versión padre-hijo</a></li>
    <li><a routerLink="/keyup" routerLinkActive="selected">Variables de plantilla</a></li>
    <li><a routerLink="/form/template" routerLinkActive="selected">Formularios (Template-driven)</a></li>
</menu>
